<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AI Projects{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/crop_recommendation">Crop Recommendation System</a></li>
            <li><a href="/fertilizer_prediction">Fertilizer Recommendation System</a></li>
            <li><a href="/plant_disease_prediction">Plant Disease Prediction</a></li>
        </ul>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>